In [15]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [5]:
info = {
    "Name" : ["Anum", "Arsh", "Aman"],
    "CGPA" : [9.5, 7.5, 8.7]
}

df = pd.DataFrame(info)
print(df)

   Name  CGPA
0  Anum   9.5
1  Arsh   7.5
2  Aman   8.7

In [6]:
df

   Name  CGPA
0  Anum   9.5
1  Arsh   7.5
2  Aman   8.7

# Series

In [8]:
s = pd.Series([1, 2, 3, 4, 5])
print(s)
print(type(s))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

# Index

In [10]:
s = pd.Series([1, 2, 3, 4, 5])

# Index
print(s[0])
print(s[2])

1
3

# Age Values

In [17]:
s = pd.Series([21, 22, 37, 34, 25], index = ["Adam", "Eve", "Bob", "Charlie", "Whatson"])
print(s)
print(s["Whatson"])

print(s[2])
print(s.index)

Adam       21
Eve        22
Bob        37
Charlie    34
Whatson    25
dtype: int64
25
37
Index(['Adam', 'Eve', 'Bob', 'Charlie', 'Whatson'], dtype='object')

# Homogenous

In [19]:
s = pd.Series([21, 22, 37, 34, 25, "abc"], index = ["Adam", "Eve", "Bob", "Charlie", "Whatson", 24])
print(s)
print(s["Whatson"])

Adam        21
Eve         22
Bob         37
Charlie     34
Whatson     25
24         abc
dtype: object
25

# Vectorized Operations

In [23]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([10, 20, 30, 40, 50])

print(s1 + s2)
s1[0] = 100
print(s1)

0    11
1    22
2    33
3    44
4    55
dtype: int64
0    100
1      2
2      3
3      4
4      5
dtype: int64

# Drop

In [26]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([10, 20, 30, 40, 50])

print(s1 + s2)
s1[0] = 100
changed_s1 = s1.drop(0)

print(s1)
print(changed_s1)

0    11
1    22
2    33
3    44
4    55
dtype: int64
0    100
1      2
2      3
3      4
4      5
dtype: int64
1    2
2    3
3    4
4    5
dtype: int64

# DataFrame

In [33]:
info = {
    "Name" : ["Anum", "Ayesha", "Afnan"],
    "Age": [21, 22, 24],
    "GPA" : [9.5, 8.6, 8.5]
}

df = pd.DataFrame(info)
print(df, type)
print(df.index)

     Name  Age  GPA
0    Anum   21  9.5
1  Ayesha   22  8.6
2   Afnan   24  8.5 <class 'type'>
RangeIndex(start=0, stop=3, step=1)

In [34]:
df

     Name  Age  GPA
0    Anum   21  9.5
1  Ayesha   22  8.6
2   Afnan   24  8.5

In [35]:
df = pd.DataFrame([["Anum", 17], ["Bob", 23], ["Eve", 24]], columns=["Name", "Age"])
print(df)

   Name  Age
0  Anum   17
1   Bob   23
2   Eve   24

In [37]:
np_arr = np.array([[1, 2, 3], [4, 5, 6]])

df = pd.DataFrame(np_arr, columns=["A", "B", "C"])
print(df)

   A  B  C
0  1  2  3
1  4  5  6